/* https://tailwindcss.com/blog/tailwindcss-v4#css-first-configuration */

@layer theme, base, components, utilities;

@import './apple.css';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);
@plugin '@tailwindcss/forms';

/* https://tailwindcss.com/docs/dark-mode */
/* @custom-variant dark (&:where(.dark, .dark *)); */
/* @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *)); */

:root {
  color-scheme: light dark;

  /* Fonts */
  --font-display:
    'SF Pro Display', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Noto Color Emoji';
  --font-sans:
    'SF Pro', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;

  /* Layout */
  --nav-height: 60px;
  --column-width: 100%;
}

@theme {
  /* Colors */
  --text-color-contrast: #000;
  --text-color-secondary: #888;
  --text-color-tertiary: #aaa;
  --text-color-inverted: #fff;
  --background-color-one: #f4f6f6;
  --background-color-two: #eee;
  --background-color-three: #fff;
  --highlight-color: #3b82f6;
  --twitter-blue: #1da1f2;
  --text-color-link: #007aff;

  /*  */
  --color-nav: #f0f0f0;
  --color-background: #eee;
  --color-tab-active: #eaeaeb;
  --border-color-one: #eaeaea;
  --border-color-two: #ddd;
  --color-btn: #fff;
  --color-input: #fff;
  --color-tertiary: #f0f0f0;

  /* Apple colors */
  --color-apple-system: var(--bg-apple-system-light);
  --color-apple-secondary-system: var(--bg-apple-secondary-system-light);
  --color-apple-tertiary-system: var(--bg-apple-tertiary-system-light);
  --color-apple-system-grouped: var(--bg-apple-system-grouped-light);
  --color-apple-secondary-system-grouped: var(
    --color-apple-secondary-system-grouped-light
  );
  --color-apple-tertiary-system-grouped: var(
    --color-apple-tertiary-system-grouped-light
  );
  --color-apple-system-gray-1: var(--apple-system-gray-1-light);
  --color-apple-system-gray-2: var(--apple-system-gray-2-light);
  --color-apple-system-gray-3: var(--apple-system-gray-3-light);
  --color-apple-system-gray-4: var(--apple-system-gray-4-light);
  --color-apple-system-gray-5: var(--apple-system-gray-5-light);
  --color-apple-system-gray-6: var(--apple-system-gray-6-light);
  --color-apple-highlight-color: var(--apple-highlight-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-contrast: #fff;
    --text-color-primary: #fff;
    --text-color-link: #6fb4ff;
    --text-color-secondary: #aaa;
    --text-color-tertiary: #666;
    --text-color-inverted: #000;
    --background-color-one: #202020;
    --background-color-two: #161616;
    --background-color-three: #2a2a2a;

    --border-color-one: #333;
    --border-color-two: #0a0a0a;

    /* Apple colors */
    --color-nav: var(--apple-system-gray-4-dark);
    --color-background: var(--apple-system-gray-5-dark);
    --color-tab-active: var(--apple-system-gray-3-dark);
    --color-btn: var(--apple-system-gray-4-dark);
    --color-input: var(--apple-system-gray-4-dark);
    --color-tertiary: var(--apple-system-gray-3-dark);

    --color-apple-system: var(--bg-apple-system-dark);
    --color-apple-secondary-system: var(--bg-apple-secondary-system-dark);
    --color-apple-tertiary-system: var(--bg-apple-tertiary-system-dark);
    --color-apple-system-grouped: var(--bg-apple-system-grouped-dark);
    --color-apple-secondary-system-grouped: var(
      --bg-apple-secondary-system-grouped-dark
    );
    --color-apple-tertiary-system-grouped: var(
      --bg-apple-tertiary-system-grouped-dark
    );
    --color-apple-system-gray-1: var(--apple-system-gray-1-dark);
    --color-apple-system-gray-2: var(--apple-system-gray-2-dark);
    --color-apple-system-gray-3: var(--apple-system-gray-3-dark);
    --color-apple-system-gray-4: var(--apple-system-gray-4-dark);
    --color-apple-system-gray-5: var(--apple-system-gray-5-dark);
    --color-apple-system-gray-6: var(--apple-system-gray-6-dark);
    --color-apple-highlight-color: var(--apple-highlight-color-dark);
  }
}

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-[#1e1c1e] border-[#ddd];
  }

  /* 50 is too bold and 400 is too light, so antialiased is a little hack here. */
  .weight-450 {
    @apply font-medium antialiased;
  }
}

.link {
  color: var(--text-color-link);
}

/* Layout */

.column-width {
  /* max-width: var(--column-width); */
  padding-left: 20px;
  padding-right: 30px;
}

body {
  /* background-color: var(--background-color-one); */
  color: var(--text-color-primary);
}

.text-inverted {
  color: var(--text-color-inverted);
}

button {
  cursor: pointer;
}

textarea {
  @apply border-inherit;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  /* https://github.com/tailwindlabs/tailwindcss/discussions/14508 */
}

/* LAYOUT CLASSES */

.track-10 {
  letter-spacing: 0.015rem !important;
}

.track-10 {
  letter-spacing: 0.01rem !important;
}

/* Text colors */

.textarea-reset {
  @apply resize-none outline-none border-none;
}

.shadow-inset-bottom {
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.05);
}

strong {
  @apply font-medium;
}

.drag-region {
  app-region: drag;
}

.no-drag-region {
  app-region: no-drag;
}
