name: Lint, type-check and build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    timeout-minutes: 5

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Lint
        run: pnpm run lint

      - name: Run TypeScript check for backend
        run: pnpm run ts-check-backend

      - name: Run TypeScript check for windows
        run: pnpm run ts-check-windows

      - name: Rebuild native dependencies
        run: pnpm rebuild

      - name: Build Electron app
        run: pnpm run build
